@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');button{
    font-size: 1em;
    display: block;
    margin-bottom: 0.4em;
    background-color: rgb(211, 211, 211);
    color: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
    border-radius: 1em;
    height: 2.3em;
    width: 40em;
}

button:hover{
    background-color: rgba(156, 155, 155, 0.379);
}

#newAliExpress, #newAmazon, #newBarilla, 
#insertButtonAliExpress, #insertButtonAmazon, #insertButtonBarilla,
#editButtonAliExpress, #editButtonAmazon, #editButtonBarilla {
    background-color: rgb(0, 51, 102);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}
  
#insertButtonAliExpress, #insertButtonAmazon, #insertButtonBarilla,
#editButtonAliExpress, #editButtonAmazon, #editButtonBarilla {
    display: none;
}
#newAliExpress:hover, #newAmazon:hover, #newBarilla:hover, 
#insertButtonAliExpress:hover, #insertButtonAmazon:hover, #insertButtonBarilla:hover,
#editButtonAliExpress:hover, #editButtonAmazon:hover, #editButtonBarilla:hover {
    background-color: rgb(2, 60, 119);
}