/* variabili CSS */
:root {
    /* [1] generali */
        --color-background: #1A1D2E;
    
    /* [2] <button> e <input> */
        --color-button: #f44479;
        --color-input-inside: #131420;
        --width-input-button: 24rem;
        --height-input-button: 2.5rem;
        /* [2.1] bordi */
            --thickness-border: 0.15rem;
            --color-border: grey;
            --border-input-select: var(--thickness-border) solid var(--color-border);
        /* [2.2] effetti */
            --scale-effect-duration: 0.2s;
            --opacity-effect-duration: 1s;
    
    /* [3] <p> e <a> */
        --color-text: white;
        --margin-top-text: 0.9rem;
        --margin-bottom-text: 0.2rem;
        --most-size-text: 1rem;
}

/* ------------------------------------ [1] GENERALE ------------------------------------ */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23191b2c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23171a29' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23161826' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23151623' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23131420' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23151623' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23161826' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23171a29' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23191b2c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231A1D2E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#paginaLogin, #paginaSignin, #paginaSignin2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paginaSignin, #paginaSignin2 {
    display: none;
}

/* -------------------------- [2] TESTO <p> -------------------------- */
.pLoginRegistrazione {
    margin-top: var(--margin-top-text);
    margin-bottom: var(--margin-bottom-text);
    color: var(--color-text);
}

/* [2.1] <p> "ricordami" e "accetto i termini" */
.labelCheckbox p {
    color: var(--color-text);
}

/* [2.2] <p> "email non valida */
#testo-email-non-valida-entra {
    color: red;
    font-weight: lighter;
    font-size: var(--most-size-text);
    margin-top: var(--margin-bottom-text);
    margin-bottom: 0;
    display: none;

    animation-name: email-enter-effect;
    animation-duration: 1s;
}
#testo-email-non-valida-esce {
    color: red;
    font-weight: lighter;
    font-size: var(--most-size-text);
    margin-top: var(--margin-bottom-text);
    margin-bottom: 0;
    display: none;

    animation-name: email-exit-effect;
    animation-duration: 0.5s;
}

/* -------------------------- [3] LOGO -------------------------- */
#logo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation-name: logo-spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
#logo:hover {
    transform: scale(1.02);
}

/* -------------------------- [4] TITOLO <h1> -------------------------- */
h1 {
    margin-top: 1rem;
    color: var(--color-text);
    font-size: 1.8rem;
}
#paginaSignin2 h1 {
    margin-bottom: 0;
}

/* -------------------------- [5] PARTE SOCIAL -------------------------- */
#loghiSocial {
    display: flex;
    justify-content: space-evenly;
}
.buttonLoghi {
    height: 3rem;
    width: 3rem;
    border: none;
    margin: 0.4rem;
    background-color: white;
}

/* -------------------------- [6] RIGA -------------------------- */
#rigaGrigia {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: #908e9740;
    height: 2px;
    width: var(--width-input-button);
}
#rigaGrigia p {
    text-align: center;
    width: 2rem;
}

/* -------------------------- [7] <label> -------------------------- */
#paginaLogin label, #paginaSignin label, #paginaSignin2 label {
    font-size: 0.8rem;
    font-weight: bold;
    width: var(--width-input-button);
}

/* -------------------------- [8] <input> -------------------------- */
input {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-input-inside);
    color: var(--color-text);
    padding-left: 0.8rem;
    font-size: var(--most-size-text);
    border: var(--border-input-select);
    border-radius: 0.5rem;
}
input:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
}
input:focus {
    outline: none;
}

/* [8.1] <input> checkbox "ricordami" e "accetta i termini" */
.labelCheckbox {
    display: flex;
    align-items: center;
    margin-top: var(--margin-bottom-text);
    margin-bottom: var(--margin-bottom-text);
}
#checkboxRicordami, #checkboxTermini {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}


/* -------------------------- [9] <button> -------------------------- */
#paginaLogin button, #paginaSignin button, #paginaSignin2 button {
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;     /* applica una transizione quando viene fatta una trasformazione */
}

/* [9.1] <button> disabilitati */
button:disabled {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-button);
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: var(--most-size-text);
    opacity: 0.5;
}
.button-disabled-effect {
    animation-name: button-increase-opacity;
    animation-duration: var(--opacity-effect-duration);
}

/* [9.2] <button> abilitati */
button:enabled:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2rem rgb(41, 48, 76);
    animation-name: button-hover;
    animation-duration: var(--scale-effect-duration);
    transform: scale(0.95);
} 
button:enabled:active {
    animation-name: button-hover;
    animation-duration: var(--scale-effect-duration);
    animation-direction: reverse;
}

/* [9.3] <button> "accedi" e "registrati" */
.buttonAccediAvantiRegistrati:enabled {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-button);
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: var(--most-size-text);
    animation-name: button-decrease-opacity;
    animation-duration: var(--opacity-effect-duration);
}

#button-avanti {
    margin-top: 1rem;
}

/* [9.4] <button> "crea account" */
#buttonCreaAccount {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-input-inside);
    border: var(--thickness-border) solid var(--color-button);
    color: var(--color-text);
    font-weight: bold;
    font-size: var(--most-size-text);
}

/* [9.5] <button> "indietro" */
#divButtonBack {
    width: var(--width-input-button);
}
#buttonBack {
    height: 1.8rem;
    width: 5rem;
    background-color: #3f3f52;
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.8rem;
}

/* -------------------------- [10] <select> -------------------------- */
#dataDiNascita {
    display: flex;
    justify-content: space-between;
    width: var(--width-input-button);
    column-gap: 2px;
}
select {
    height: var(--height-input-button);
    background-color: var(--color-input-inside);
    width: 33%;
    color: grey;
    padding-left: 0.8rem;
    font-size: var(--most-size-text);
    border: var(--border-input-select);
    border-radius: 0.5rem;
}
select:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
    cursor: pointer;
}
select:focus {
    outline: none;
}
option:focus {
    color: var(--color-text);
}

/* -------------------------- [11] LINK <a> -------------------------- */
a {
    text-decoration: none;
    text-align: center;
    color: var(--color-button);
    margin-top: var(--margin-top-text);
    margin-bottom: var(--margin-top-text);
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: var(--color-button);
}

/* -------------------------- [12] IMMAGINI <img> -------------------------- */
.spunta-x {
    height: 0.8rem;
    margin-left: 0.2rem;
}

/* -------------------------- [13] BLOCCO PASSWORD -------------------------- */
#div-caratteristiche-password {
    display: none;
    background-color: var(--color-input-inside);
    width: var(--width-input-button);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
#div-caratteristiche-password>p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: grey;
    font-size: var(--most-size-text);
}
.div-testi-password {
    display: flex;
    align-items: center;
}
.div-testi-password p {
    margin: 0.3rem 0.7rem;
    color: rgb(205, 204, 204);
    font-size: 0.9rem;
}

/* -------------------------- [14] ANIMAZIONI -------------------------- */
/* [14.1] logo che gira */
@keyframes logo-spin {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}

/* [14.2] <button> hover, abilitati e disabilitati*/
@keyframes button-hover {
    from {
        transform: scale(1.00);
    }
    to {
        transform: scale(0.95);
    }
}
@keyframes button-decrease-opacity {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
@keyframes button-increase-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

/* [14.3] testo "email non valida" */
@keyframes email-enter-effect {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes email-exit-effect {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-15%);
        opacity: 0;
    }
}

/* -------------------------- [15] SCROLLBAR -------------------------- */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-background);
}
::-webkit-scrollbar-thumb {
background-color: #53535e;
border-radius: 10rem;
}
::-webkit-scrollbar-track {
background-color: var(--color-background);
}














@media screen and (orientation: portrait) {
    :root {
        --height-input-button: 4rem;
        --most-size-text: 1.5rem;
    }
    h1 {
        font-size: 2.3rem;
    }
    #paginaLogin label, #paginaSignin label, #paginaSignin2 label {
        font-size: 1.2rem;
    }
    .div-testi-password p {
        font-size: 1.2rem;
    }
    a {
        font-size: 1.5rem;
    }
}
  

