*{
    box-sizing: border-box;
}


:root{
    --scuro: rgb(50, 54, 67);
    --grigio-mezzo-scuro: rgb(68, 72, 87);
    --padding-value: 5px;
    --colore-chiaro: rgb(255, 255, 255);
    --colore-chiaro: rgb(242, 242, 242);
    --grigio-mezzo-scuro: rgb(223, 223, 223);
    --red: rgb(255, 42, 0);
    --border: 5px;
    --carta: 250px;
}

nav{
    grid-area: nav;
    background-color: rgb(204, 122, 0);
    padding: var(--padding-value);
    position: sticky;
    top: 0;
    display: flex;
    place-content: space-between;
    z-index: 1000;
}

nav h1{
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    color: var(--colore-chiaro);
    margin-left: 20px;      
}

nav a{
    color: var(--colore-chiaro);
}


body{
    margin: 0;
    padding: 0;
    height: fit-content;
}

#page{
    display: grid;
    grid-template-areas:
            "nav nav nav"
            "aside grid grid"
            "aside grid grid";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr 1fr;
}


#button{
    list-style: none;
    display: flex;
    margin: auto 0;
    padding-bottom: 50px;
}

#myP{
    margin: 0 var(--padding-value) 0 0;
    padding: var(--padding-value);
    background-color: rgb(218 178 178);
    border-radius: var(--border);
}

#newP{
    margin: 0 var(--padding-value) 0 0;
    padding: var(--padding-value);
    background-color: rgb(218 178 178);
    border-radius: var(--border);
}

#info{
    margin: 0 var(--padding-value) 0 0;
    padding: var(--padding-value);
    background-color: rgb(218 178 178);
    border-radius: var(--border);
}


aside
{
    grid-area: aside;
    background-color: var(--colore-chiaro);
    padding: var(--border);
    min-height: 100%;
    height: 100vh;
    border: solid var(--grigio-mezzo-scuro);
    border-width: 0 1px 0 0;
    padding-top: 15px;
}

#grid
{
    grid-area: grid;
    display: grid;
    padding: var(--border);
    background-color: var(--grigio-mezzo-scuro);
    height: fit-content;
    padding: 15px 25px;
}

#inputUtente{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}

#inputUtente input[type="text"]{
    margin: auto;
    float: right;
}

#DescrizionePokemon{
    width: -webkit-fill-available;
    height: 75px;
    max-height: 330px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: var(--border);
    border-color: var(--colore-azzurro);
}

input[type = "number"]{
    width: 50px;
}

input[type="text"]{
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--border);
    border: groove var(--colore-chiaro);
    border-width: 2px;
    background-color: var(--colore-chiaro);
    max-width: 200px;
}

#addPokemon{
    border-radius: var(--border);
    background-color: var(--red);
    color: var(--colore-chiaro);
    padding: var(--padding-value);
    border: none;
    cursor: pointer;
}

.bottonePokemon{
    border-radius: var(--border);
    background-color: var(--colore-chiaro);
    padding: var(--padding-value);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: var(--border);
}




#Pokemon{
    border-radius: var(--border);
    background-color: var(--colore-chiaro);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--carta), 1fr));
    column-gap: 10px;
    row-gap: 12px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    min-height: var(--carta);
}

.card{
    min-height: 350px;
    height: fit-content;
    width: var(--carta);
    margin: auto;
    margin-bottom: 10px;
    background-color: var(--colore-chiaro);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    border: groove 1px var(--colore-chiaro);
}

.banner{
    border: 3px solid var(--colore-oro);
    height: fit-content;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.imgBackground{
    height: 250px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    display: block;
   
}

.description{
    align-self: center;
    display: grid;
    height: 100%;
    margin: 10px;
}

.description footer{
    margin-top: auto;
    border-width: 3px 0px 0px 0px;
    padding: 5px;
}

.description h2{
    margin: 0;
}